<div class="container">

  <h2 class='h2 ml1 mr1'>
    <%= link_to(@department.dept_code+' - '+@department.dept_name, '/departments/'+@department.dept_code, {}) %>
  </h2>
  <%= render 'layouts/course_list_table' %>
</div>
