<div class="pure-g-r content-ribbon">
    <div class="pure-u">
        <h1>Home</h1>

        <%= link_to "Sign in", signin_path %><br />
        <%= link_to "Sign out", signout_path, method: "delete" %><br />
    </div>
</div>