<div class="container">
  <h2 class='h2 ml1 mr1'>Search results for: <%= '"'+params[:q]+'"' %></h2>
<!--
    <%#= link_to(@department.dept_code+' - '+@department.dept_name, '/departments/'+@department.dept_code, {}) %> -->

  <% if @courses.blank? %>
    <aside>
      <p class='ml1 mr1'>This search turned up no results. Try searching course codes like "MATH-3331", words like "calculus" or instructor last names like "Benson".</p>
    </aside>
  <% else %>
      <%= render 'layouts/course_list_table' %>
  <% end %>
</div>
