<div class="department-body">
  <div class="pure-g">
    <div class="pure-u">
      <ul class="breadcrumb">
        <li>
          <%= link_to('Home', root_url, {}) %>
          <span class="divider">-</span>
        </li>
        <li class="active">
          Search results for: <%= '"'+params[:q]+'"' %>
        </li>
      </ul>
      <h1>
        <%#= link_to(@department.deptCode+' - '+@department.deptName, '/departments/'+@department.deptCode, {}) %>
      </h1>
    </div>
  </div>

  <% if @courses.blank? %>
      <aside>
        This search turned up no results. Try searching course codes like "MATH-3331", words like "calculus" or instructor last names like "Benson".
      </aside>
  <% else %>
      <%= render 'layouts/course_list_table' %>
  <% end %>
</div>
