* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



html,body {
    height: 100%;
    margin: 0 auto;
    line-height: 1.7em;
    position:relative;
}

.l-box {
    padding: 1em;
}

.header {
    margin: 0 auto;
}

    .header .pure-menu {
        padding: 0.5em;

    }

        .header .pure-menu li a:hover,
        .header .pure-menu li a:focus {
            background: none;
            border: none;
            color: #ddd;
        }

body .primary-button {
    background: #02a6eb;
    color: #fff;
}

.splash {
    margin: 0em auto 0;
    padding: 3em 2em;
    background: #eee;
}
    .splash .splash-head {
        font-size: 300%;
        margin: 0em 0;
        line-height: 1.2em;
    }
    .splash .splash-subhead {
        font-size: 130%;
        font-weight: 300;
        line-height: 1.4em;
    }
    .splash .primary-button {
        font-size: 150%;
    }
    .splash .search-label {
        font-size: 140%;
        font-weight: 900;
        line-height: 1em;
        color: #999;
    }

.department-body {
    margin: 0em auto 0;
    padding: 1em 1em 8em 1em;
    height: 100%;
    background: #F9F9F9;
}

.content-body {
    margin: 2em auto 0;
    padding: 0em 0.5em;
    margin: 0 auto;
    max-width: 980px;
}

.content {
    height:auto !important; /* real browsers */
    height:100%; /* IE6: treated as min-height*/
    position:relative; /* needed for footer positioning*/
    min-height:100%; /* real browsers */
}

.content .content-subhead {
    color: #999;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}

.content .content-ribbon {
    border-bottom: 1px solid #eee;
}

.tab-content {
    overflow: auto;
}

.home-tab {
    border-left: none;
    border-right: none;
}

.wide-table {
    width: 100%;
}

.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
    .ribbon h2 {
        display: inline;
        font-weight: normal;
    }


.footer {
    bottom:0; /* stick to bottom */
    width: 100%;
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
    position:absolute;
}

.footer a {
    color: #cccccc;
    text-decoration: none;
}

.footer a:hover {
    color: #cccccc;
    text-decoration: underline;
}
