* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


@font-face {
  font-family: 'FiraSans';
  src:  url('fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/FiraSans-Regular.woff') format('woff'),
    url('fonts/FiraSans-Regular.ttf')  format('truetype');

}

html,body {
    height: 100%;
    margin: 0 auto;
    line-height: 1.7em;
    position:relative;
    font-family: "FiraSans";
    font-size: 14px;
    line-height: 20px;
    color: #333;
}


a {
    color: #cf8200;
    text-decoration: none;
}

a:hover {
    color: #a65b00;
    text-decoration: underline;
}

.l-box {
    padding: 1em;
}

.header {
    margin: 0 auto;
}

    .header .pure-menu {
        padding: 0.5em;

    }

        .header .pure-menu li a:hover,
        .header .pure-menu li a:focus {
            background: none;
            border: none;
            color: #ddd;
        }

body .primary-button {
    background: #02a6eb;
    color: #fff;
}

.splash {
    margin: 0em auto 0;
    padding: 1em 2em;
    background: #eee;
}
    .splash .splash-head {
        font-size: 300%;
        margin: 0em 0;
        line-height: 1.2em;
    }
    .splash .splash-subhead {
        font-size: 18px;
        font-weight: 300;
    }
    .splash .primary-button {
        font-size: 150%;
    }
    .splash .search-label {
        line-height: 24px;
        font-weight: 900;
        line-height: 24px;
        color: #999;
    }

.department-body {
    margin: 0em auto 0;
    padding: 4em 1em 8em 1em;
    height: 100%;
    background: #F9F9F9;
}

.content-body {
    margin: 2em auto 0;
    padding: 0em 0.5em;
    margin: 0 auto;
    max-width: 1060px;
}

.content {
    height:auto !important; /* real browsers */
    height:100%; /* IE6: treated as min-height*/
    position:relative; /* needed for footer positioning*/
    min-height:100%; /* real browsers */
}

.content .content-subhead {
    color: #999;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}

.content .content-ribbon {
    border-bottom: 1px solid #eee;
}

.pure-paginator .pure-button{
    color: #cf8200;
    font-weight: bold;
}

.pure-paginator .pure-button:hover{
    color: #bf7500;
}

.pure-paginator .pure-button-active{
     color: #333;
     font-weight: bold;
 }


.pure-paginator .pure-button-active:hover{
    color: #333;
}

.tab-content {
    padding-top: 10px;
    overflow: auto;
}

.tab-content td {
    padding: 4px 8px 4px 8px;
}

.home-tab {
    border-left: none;
    border-right: none;
}

.wide-table {
    width: 100%;
}

.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
    .ribbon h2 {
        display: inline;
        font-weight: normal;
    }


.footer {
    bottom:0; /* stick to bottom */
    width: 100%;
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
    position:absolute;
}

.footer a {
    color: #cccccc;
    text-decoration: none;
}

.footer a:hover {
    color: #cccccc;
    text-decoration: underline;
}

.breadcrumb {
    list-style: none;
    overflow: hidden;
    padding: 8px 8px;
    margin: 0;
    list-style: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.breadcrumb li {
    float: left;
    line-height: 20px;

}


.breadcrumb li a{

}

.breadcrumb .divider {
    padding: 0 5px;
    /* color: #ccc; */
}

.breadcrumb .active {
    color: #999;
}

.muted {
    margin: 5px;
    color: #777;
}

.list-container {

    padding:9px;
    margin-top:3px;
    margin-bottom:3px;
    /*background-color:#e9e9e9;*/
    border: solid #e3e3e3 1px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;

    -moz-box-shadow: inset 0  4px 5px -5px #bbb;
    -webkit-box-shadow: inset 0  4px 5px -5px #bbb;
    box-shadow: inset 0  4px 5px -5px #bbb;

}

.list-container .section {
    padding: 9px;
    margin-bottom: 10px;
    background-color: #e3e3e3;
    border: solid #d1d1d1 1px;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.list-container h3 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 1;
    color: inherit;
    text-rendering: optimizelegibility;
}

.table-list {
    background-color: #ededed;
    width: 100%;
}

.table-list header {

}


.table-list tr {
    line-height: 20px;

    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table-list td {
    padding: 4px 6px 4px 6px;
}

.table-list tr:hover {
    background-color: #f5f5f5;
    color: #BF8330;
    /* color: make the text a subtly different color */
}


.table-list .table-list-row {
    padding: 0 4px 0 4px;
}

.course-info {
    margin: 10px 90px;
    padding: 25px;
    background-color: #e0e0e0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.course-info h1 {
}

.course-info .description {
    margin-bottom: 16px;
}

.course-info .prereqs {

}

 a.ununderlinable:hover {
    text-decoration: none;
}

a.ununderlinable:hover .underlinable{
    text-decoration: underline;
}

.season-tag.season-Fall {
    position:relative;
    display:inline-block;
    height:14px;
    line-height:15px;
    font-size:9px;
    vertical-align:middle;
    font-weight:700;
    text-transform:uppercase;
    color:#fcf9f7;
    border:1px solid #c67f54;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background-color:#c68257;
    background-image:linear-gradient(tobottom,#c47a4d,#c98d67);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc47a4d',endColorstr='#ffc98d67',GradientType=0);
    padding:0 6px 0 20px;
}

.season-tag.season-Fall:before {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-image:url(seasons.png);
    background-repeat:no-repeat;
    background-position:1px 0;
    content:' ';
}

.season-tag.season-Winter {
    position:relative;
    display:inline-block;
    height:14px;
    line-height:15px;
    font-size:9px;
    vertical-align:middle;
    font-weight:700;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #7668be;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background-color:#796bbf;
    background-image:linear-gradient(tobottom,#7061bb,#877ac3);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7061bb',endColorstr='#ff877ac3',GradientType=0);
    padding:0 6px 0 20px;
}

.season-tag.season-Winter:before {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-image:url(seasons.png);
    background-repeat:no-repeat;
    background-position:1px -24px;
    content:' ';
}

.season-tag.season-Summer {
    position:relative;
    display:inline-block;
    height:14px;
    line-height:15px;
    font-size:9px;
    vertical-align:middle;
    font-weight:700;
    text-transform:uppercase;
    color:#edf5ee;
    border:1px solid #64ac6d;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background-color:#67ac6f;
    background-image:linear-gradient(tobottom,#5fa967,#74b27b);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5fa967',endColorstr='#ff74b27b',GradientType=0);
    padding:0 6px 0 20px;
}

.season-tag.season-Summer:before {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-image:url(seasons.png);
    background-repeat:no-repeat;
    background-position:1px -48px;
    content:' ';
}

.season-tag.season-None {
    position:relative;
    display:inline-block;
    height:14px;
    line-height:15px;
    font-size:9px;
    vertical-align:middle;
    font-weight:700;
    text-transform:uppercase;
    color:#fafafa;
    border:1px solid #8d8d8d;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background-color:#8f8f8f;
    background-image:linear-gradient(tobottom,#888,#989898);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff888888',endColorstr='#ff989898',GradientType=0);
    padding:0 6px 0 20px;
}

.season-tag.season-None:before {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-image:url(seasons.png);
    background-repeat:no-repeat;
    background-position:-20px 0;
    content:' ';
}

.season-tag.hide {
    opacity:.33%;
    filter:alpha(opacity=33%);
}

.expo {
    margin: 50px;
    padding: 30px;
    background-color: #e0e0e0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.faq-item {
    margin-top:35px;
    list-style: none;
}

.faq-item .faq-header {
    margin-top: 0;
}