<h1>About Thundr</h1>
<h3 class="muted">The Course Catalog For Lakehead University Students</h3>

<p>
  Thundr was made by a Lakehead undergrad student named Tim after making note of how difficult it is to plan out a
  schedule using the built in tools. The initial idea was to create a course scheduling tool that allowed students to
  map out their schedule before registering for courses.
</p>

<p>
  I hope that this small tool will serve as useful tool to students and assist in planning schedules and registering for
  courses.
</p>

<p>
  In the future, I'd like to implement the actual course scheduling feature, including saving schedules, viewing friends'
  courses, and more.
</p>

<p>
  While I was working on this project, I quickly realized that I hadn't done much work in actual website design. I
  mentioned my idea for this project to my good friend Rob who told me about <a href='http://qcumber.ca/'>Qcumber</a>,
  a course catalog for students at Queen's University. I wish to apologize to and thank <a href='https://twitter.com/QuixoticChris'>Chris</a> from
  <a href='http://qcumber.ca/'>Qcumber</a> for stealing layout and design ideas. :)
</p>

<p>
  Thundr is open-source! Check it out at
  <%= render 'layouts/github_link' %>
  <%= render 'layouts/fblike' %>
</p>