<div class='container'>
  <h2 class='h2 ml1 mr1'>Contact Me</h2>
  <p class='ml1 mr1'>I'd love to hear from you about anything. Things you like, things you don't like, bugs, or whatever else you've got for me!</p>
  <p class='ml1 mr1'>You can reach me by email at <%= render 'layouts/contact_link' %>.</p>
</div>