<h1>Contact Me</h1>

<p>
  I'd love to hear from you about anything. Things you like, things you don't like, bugs, or whatever else you've got for me!
</p>

<p>
  You can reach me by email at <%= render 'layouts/contact_link' %>.
</p>

