<div class='container'> 

  <h2 class='h2 ml1 mr1'>Frequently Asked Questions</h2>

  <h4 class='h4 ml1 mr1'>What is Thundr?</h4>
  <p class='ml1 mr1'>Thundr is an unofficial course catalog for Lakehead University students. It was created by a student to provide access to relevant course information in an easy to read format. It's a work in progress, so be sure to check out the <a href='/about'>about</a> page for more information on that!</p>

  <h4 class='h4 ml1 mr1'>What makes Thundr "unofficial"?</h4>
  <p class='ml1 mr1'>Thundr was created by a fourth year computer science student as a fun side project in his spare time. This means that it is not in any way affiliated with Lakehead University.</p>

  <h4 class='h4 ml1 mr1'>Are you sure this information is accurate?</h4>
  <p class='ml1 mr1'>I've done my best and spent a lot of time to ensure that the information shown on Thundr reflects what's shown on the Lakehead University website. Despite this, it's still a good idea to check with the Lakehead website just to make sure. If you find any inconsistencies, you can definitely help me out by letting me know!</p>

  <h4 class='h4 ml1 mr1'>What new features do you have planned?</h4>
  <ol class='ml1 mr1'>
    <li>A new layout</li>
    <li>Course textbook information</li>
    <li>A scheduler that allows students to build a timetable before registering for courses</li>
  </ol>

  <h4 class='h4 ml1 mr1'>How does Thundr work?</h4>
  <p class='ml1 mr1'>Rubies and gems! What I mean by this is that I use Ruby on Rails for the development of the site, and a gem called <a href="http://nokogiri.org/">Nokogiri</a> for data collection from the Lakehead website.</p>
  <p class='ml1 mr1 italic'>You can see the source code for Thundr at <%= render 'layouts/github_link' %>! :)</p>
  
  <h4 class='h4 ml1 mr1'>I have more questions!</h4>
  <p class='ml1 mr1'>Feel free to send them to me at <%= render 'layouts/contact_link' %></p>
</div>