<h1>Frequently Asked Questions</h1>
<h3 class="muted">For those of you that are the curious type</h3>

<ul class="faqs">

  <li class="faq-item">
    <h2>
      What is Thundr?
    </h2>
    <p>
      Thundr is an unofficial course catalog for Lakehead University students. It was created by a student to convenient access
      to relevant course information in an easy to read format. It's a work in progress, so be sure to check out the
      <a href='/about'>about</a> page for more information on that!
    </p>
  </li>

  <li class="faq-item">
    <h2>
      What makes Thundr "unofficial"?
    </h2>
    <p>
      Thundr was created by a fourth year computer science student as a fun side project in his spare time. This means that
      it is not in any way affiliated with Lakehead University.
    </p>
  </li>

  <li class="faq-item">
    <h2>
      Are you sure this information is accurate?
    </h2>
    <p>
      I've done my best and spent a lot of time to ensure that the information shown on Thundr reflects what's shown on the
      Lakehead University website. Despite this, it's still a good idea to check with the Lakehead website just to make sure.
      If you find any inconsistencies, you can definitely help me out by letting me know!
    </p>
  </li>

  <li class="faq-item">

    <h2>
      What new features do you have planned?
    </h2>

    <p>
      <ul>
        <li>
          A new layout
        </li>
        <li>
          Course textbook information
        </li>
        <li>
          A scheduler that allows students to build a timetable before registering for courses
        </li>
      </ul>
    </p>
  </li>

  <li class="faq-item">
    <h2>
      How does Thundr work?
    </h2>
    <p>
      Rubies and gems! What I mean by this is that I use Ruby on Rails for the development of the site, and a gem called
      <a href="http://nokogiri.org/">Nokogiri</a> for data collection from the Lakehead website.<br>You can see the source code for
      Thundr at <%= render 'layouts/github_link' %>! :)
    </p>
  </li>

  <li class="faq-item">
    <h2>
      I have more questions!
    </h2>
    <p>
      Feel free to send them to me at <%= render 'layouts/contact_link' %>
    </p>
  </li>

</ul>