<form accept-charset="UTF-8" action="search" class="pure-form" method="get">
  <%= text_field_tag :q, nil, placeholder: 'e.g. COMP-1411' %>
  <%= submit_tag 'Search', :name => nil, :class => 'pure-button pure-button-search' %>
</form>