<% content_for :content do %>
<div class="department-body">
  <div class="pure-g">
    <div class="expo">
      <div class="pure-u">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
<% end %>

<%= render template: "layouts/application" %>